# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\PC\Desktop\THICC\Université FSGUL\Hiver 2021\GLO-2004\Simudemie\livrable2\h21-glo-equipe7\simudemie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
